
.main_container {
    padding: 60px 15rem;
}

p {
    text-align: left;
    padding-top: 10px;
}


.pdf-preview {
    max-width: 500px;      /* limit width for good readability */
    height: 500px;         /* height of the preview box */
    overflow: hidden;      /* hide outer scrollbars */
    margin: 2rem auto;
    border-radius: 12px;   /* optional */
    box-shadow: 0 6px 20px rgba(0,0,0,0.1); /* optional soft shadow */
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}


