
.main_container {
    padding: 40px 15rem;
}

p {
    text-align: left;
    padding: 10px 0px 25px 0px; /* top, right, bottom, left */
}


.pdf-preview {
    max-width: 500px;      /* limit width for good readability */
    height: 500px;         /* height of the preview box */
    overflow: hidden;      /* hide outer scrollbars */
    margin: 2rem auto;
    border-radius: 12px;   
    box-shadow: 0 6px 20px rgba(0,0,0,0.1); /* optional soft shadow */
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none; /* removes default border */
}

.button { 
    background:#F4D9DF; 
    color:#452407;
    border: 2px solid #efb4c1;
    padding:10px 16px; 
    border-radius:12px; 
    text-decoration: none;
    font-weight: 900;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.button:hover {
    border: 2px solid #FF5C00;
}


