

.main_container {
    margin: 10px 170px; 
    padding: 10px;
    text-align: left;
}

.img {
    float: right;
    width: 300px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.header {
    margin: 10px 170px; 
    padding: 30px;
}

.contact {
    margin: 10px 170px; 
    padding: 30px;
}

main h1 {
        font-size: 2.2rem;
    }
