
.card1 {
    background-color: #7390b0;
    color:antiquewhite;
    text-align: left;
    margin: 40px 170px;
    padding: 30px;
    border-radius:10px; /* rounding edges */
}

.card2 {
    background-color: #7390b0;
    color:antiquewhite;
    text-align: left;
    margin: 40px 170px;
    padding: 30px;
    border-radius:10px; 
}

.card3 {
    background-color: #7390b0;
    color:antiquewhite;
    text-align: left;
    margin: 40px 170px;
    padding: 30px;
    border-radius:10px; 
}

.card4 {
    background-color: #7390b0;
    color:antiquewhite;
    text-align: left;
    margin: 40px 170px;
    padding: 30px;
    border-radius:10px; 
}

.container {
    margin: 10px 170px; 
    padding: 30px;
    text-align: left;
}

.page-title {
    text-align: left;
    margin: 10px 170px;
}

.cta { 
    background:#1c6e9e; 
    color:#fff; 
    padding:10px 16px; 
    border-radius:12px; 
    text-decoration: none; 
}
