.section {
    margin: 10px 170px; /* The spacing around the edges */
    padding: 20px; 
}

.header {
    display: flex;
    flex-direction: row-reverse; /* controls image to the right */ 
    align-items: center;
    gap: 30px; /* spacing between image and text */
}

.img {
    width: 300px;
    height: auto;
    margin: 30px 0 10px 20px; 
    border-radius: 5px;
}

main h1 {
    font-size: 2.2rem;
}

h2 {
    border-bottom: 2px solid #FF5C00; 
    padding-bottom: 0.3em;            /* space between text and line */
    display: inline-block;            /* underline fits text width */
}

.contact_section {
    text-align: center;
    margin-bottom: 3rem;
}

.contact_title {
    margin-bottom: 40px;
}

.contact_cards {
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    
}

.contact_card {
    display: flex;   /* horizontal layout: icon + text */
    align-items: center;
    gap: 20px;
    background-color: #d2baa979;
    border: 2px solid #cebaac;
    padding: 15px; 
    border-radius: 20px; /* rounding edges */
    max-width: 320px;
    height: auto;
}

.contact_icon img {
    width: 60px;
    border: 2px solid #efb4c1;
    border-radius: 60px;
}


.contact_text a {
    text-decoration: none;
    color: inherit;
}