.section {
    margin: 10px 170px;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px; /* spacing between image and text */
}

.img {
    width: 300px;
    height: auto;
    margin: 30px 0 10px 20px; 
    border-radius: 5px;
}

main h1 {
    font-size: 2.2rem;
}

.contact_section {
    text-align: center;
    margin-bottom: 3rem;
}

.contact_title {
    margin-bottom: 40px;
}

.contact_cards {
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    
}

.contact_card {
    display: flex;   /* horizontal layout: icon + text */
    align-items: center;
    gap: 20px;
    background-color: #b9a594;
    padding: 15px; 
    border-radius: 20px; /* rounding edges */
    max-width: 320px;
    height: auto;
}

.contact_icon img {
    width: 60px;
}


.contact_text a {
    text-decoration: none;
    color: inherit;
}