.card {
    background-color: #b08d73;
    color:antiquewhite;
    text-align: left;
    padding: 30px;
    border-radius:10px; /* rounding edges */
    width: 100%;
    margin-bottom: 2rem;
}

.container {
    max-width: 1400px;   /* limit on huge screens */
    margin: 20px 13rem;
}

.cta { 
    background:#8c6c54;; 
    color:#fff; 
    padding:10px 16px; 
    border-radius:12px; 
    text-decoration: none; 
}


/* Hide the checkbox */
.toggle-check {
    display: none;
}

/* Only show when read more is clicked */
.extra-content {
    display: none;
}

/* Show extra content when checked */
.toggle-check:checked ~ .extra-content {
    display: block;
}

/* Hide Read less button by default */
.read-less-btn {
    display: none;
}

/* Show Read less when checked */
.toggle-check:checked ~ .extra-content .read-less-btn {
    display: inline-block;
}

/* Hide Read more when checked */
.toggle-check:checked ~ .read-more-btn {
    display: none;
}

/* Make sure labels behave like buttons */
.read-more-btn,
.read-less-btn {
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block; 
}
