
.container {
    max-width: 1400px;   /* limit on huge screens */
    padding: 40px 15rem 20px 15rem;
}

div {
    padding: 10px; /* space between sections */
}

.content_block_left {
    display: flex;
    flex-direction: row; /* Places image left */
    align-items: center;
    background-color: #d2baa979;
}

.content_block_right {
    display: flex;
    flex-direction: row-reverse; /* places image right */
    align-items: center;
}

img {
    width: 350px;
    padding: 5px;
    border-radius: 10px;
}

.button {
    background:#452407; 
    color:#F4D9DF; 
    padding:10px 16px; 
    border-radius:12px; 
    text-decoration: none; /* removes underline */
}

p {
    padding-bottom: 20px;
}

