.header {
    padding: 40px 15rem 0px 15rem;
}


.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* makes a row of 3 */
    gap: 50px; /* space between cards */
    padding: 60px 15rem;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

.skill-card {
    display: flex;
    flex-direction: column;
}

.skill-icon {
    width: 80px;
    height: 80px;
    background: #ece2e2;
    border-radius: 50%;
    display: flex; /* icon in center of bubble */
    justify-content: center; /* icon in center of bubble */
    align-items: center; /* icon in center of bubble */
    margin-bottom: 25px; /* space between icon and title */
}

.skill-icon img {
    width: 40px;
    height: 40px;
}

.skill-card h3 {
    margin: 0; /* resets margin */
}

