
body {
        margin: 0; 
        font-family: "Raleway", sans-serif;
        font-style: normal;
        background-color: #c5ced8;
        min-height:100vh; /* for footer to stay in bottom of page */
        display: flex; /* for footer to stay in bottom of page */
        flex-direction: column; /* for footer to stay in bottom of page */
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;
        background-color: #e5cab0;
        gap: 80px;
    }

    .logo {
        font-family: "Meow Script", cursive;
        font-style: normal;
        font-size: 30px;
        color: #1c6e9e; 
        text-decoration: none; 
    }

    nav {
        display: flex;
        gap: 45px;
        align-items: center;
        justify-content: center; 
        flex-wrap: wrap; 
    }

    nav a {
        text-decoration: none;
        color: #1c6e9e;
        font-weight: bold;
    }

    nav a:hover {
        color: #13597f;
    }

    .contact-btn {
        background-color: #d3a677;
        color: #1c6e9e;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 12px;
    }

    .contact-btn:hover {
        background-color: #dbbea4;
    }

    main {
        flex: 1 /* makes main take up rest of the space */
    }

    @media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    }

    footer {
        text-align: center; 
        padding: 28px;
        opacity: .8;
        background-color: #e5cab0;
    }