
body {
    margin: 0; 
    font-family: "Raleway", sans-serif;
    background-color: #eae5e4; 
    color:#562d09;
    min-height:100vh; /* for footer to stay in bottom of page */
    display: flex; /* for footer to stay in bottom of page */
    flex-direction: column; /* for footer to stay in bottom of page */
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #C9BCAB;
    gap: 80px;
}   

.logo {
    font-family: "Meow Script", cursive;
    font-size: 30px;
    color: #562d09; 
    text-decoration: none; 
}

nav {
    display: flex;
    gap: 45px;
    align-items: center;
    flex-wrap: wrap; 
}

nav a {
    text-decoration: none;
    color: #562d09;
    font-weight: bold;
}

nav a:hover {
    color: #562d09;
}

.contact-btn {
    background-color: #8a5e3f;
    color: #edd4be;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 12px;
}

.contact-btn:hover {
    background-color: #a28062;
}


footer {
    text-align: center; 
    padding: 22px;
    background-color: #b9a594;
}


/* 2-column grid */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* 3-column grid */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Tablet breakpoint (optional) */
@media (max-width: 900px) {
    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile: collapse ALL grids to 1 column */
@media (max-width: 700px) {
    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    nav {
        gap: 20px;
        justify-content: center;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }
}